# Vim
.*.sw?

# Vagrant
.vagrant

# Tox
.tox/

# Coala
node_modules

# Python
.idea
*.pyc
*.egg-info/

# Robot
log.html
output.xml
report.html

# Ansible
*.retry

# Archives
*.tar.gz
*.zip

# Other
packages/deb/opendaylight/*
