[access]
	inheritFrom = All-Projects
[project]
	description = Integration packaging
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-integration-packaging-committers
[access "refs/heads/*"]
	viewDrafts = group Anonymous Users
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	push = +force group Administrators
	pushMerge = group Administrators
