[access]
	inheritFrom = All-Projects
[project]
	description = Integration packaging
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-integration-packaging-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	viewDrafts = group Anonymous Users
[submit]
	action = rebase if necessary
[allowSuperproject "docs"]
	matching = refs/heads/master:refs/heads/master
